* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.flower {
    width: 100%;
    height: 100vh;
    background-color: rgb(236, 232, 226);
    display: flex;
    justify-content: center;
    align-items: center;
}

.petals {
    height: 40rem;
    width: 40rem;
    position: relative;
}

.petal {
    width: 15rem;
    height: 15rem;
    position: absolute;
    top: 5rem;
    left: 5rem;
    
}

.petal::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(#fff,#ff0);
    border-radius: 50% 50% 0 50%;
    transform: skew(23deg, 23deg);
    box-shadow: 0.3rem 0.3rem 0.3rem #ddd;
}